*{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
.topLeft{
	background: #AAAAAA;
	width: 50%;
	height: 50%;
	float: left;
}
.topRight{
	background: #4CD964;
	width: 50%;
	height: 50%;
	float: right;
}
.bottomLeft{
	background: #8A6DE9;
	width: 50%;
	height: 50%;
	float: left;
}
.bottomRight{
	background: #DD524D;
	width: 50%;
	height: 50%;
	float: right;
}
div span{
	display: block;
	text-align: center;
	vertical-align: middle;
}
